@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #2C2A29;
  --primary: #00825A;
  --secondary: #B0F2AE;
  --accent: #DFFF61;
  --info: #99D1FC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-info: var(--info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C2A29;
    --foreground: #FAFAFA;
    --primary: #B0F2AE;
    --secondary: #00825A;
    --accent: #DFFF61;
    --info: #99D1FC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
